
#root {
    grid-template-columns: 20% 80%;
    display: grid;
    --prime-color: #050A30;
    --card-color: #cae1ff;
    color: white;
   
}

button {
    background: #7EC8E3;
    border-radius: 5px;
    padding: 5px 20px;
    color: #050A30;
    font: normal bold 18px "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

button:hover {
    transition: all 0.3s;
    background: #0000FF;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    grid-column: 2;
}