.loginBG {
    width: 100vw;
    height: 105vh;
    background: url('../../images/360_F_286026740_xWkobcEk5g38qrH7cpfeImAnlUUSIrc5.jpg');
    background-size: cover;
    grid-column: 1/2;
    background-color: black;
    background-attachment: fixed;
    position: absolute;
}

.login-panel {
    background: var(--prime-color);
    width: 30vw;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-panel h1 {
    width: 100%;
}

.login-panel input {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 5px;
}
